.cart {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 0;
  max-width: 100%;
  background-color: white;
  z-index: 20;
  overflow-x: hidden;
}

.open {
  display: block;
  animation: open 0.1s ease-in-out forwards;
  transition: width 0.1s ease-in-out;
}

.cart-top {
  display: flex; 
  justify-content: space-between;
  align-items: center; 
  border-bottom: 1px solid rgb(162, 160, 160);
  padding: 0px 5px;
}

.cart-contents {
  height: calc(100vh - 120px);
  overflow: auto;
}


.checkout-btn {
  width: 90%; 
  background-color:rgb(135 189 130);
  color: white; 
  font-size: larger;
  border-radius: 25px;
  border: none;
  margin: 10px 5%;
  border: none;
  height: 35px;
  transition: background-color 0.2s ease-in-out;
}

.checkout-btn:hover {
  background-color: rgb(95, 158, 88)
}


@media screen and (min-width: 500px) {
  .cart {
    max-width: 500px;
  }
}

@keyframes open {
  0% {
    width: 0;
  }

  100% {
    width: 500px;
  }
}

@keyframes openFull {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}