.results-page {
  padding: 20px;
  display: grid; 
  grid-template-rows: repeat(2);
}

.results {
  display: flex;
  flex-direction: column;
  max-width: 2000px;
  margin: 5vh 15%;
}

.single-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  border-bottom: 1px solid rgb(208, 207, 207);
  border-top: none;
  box-sizing: border-box;
}

.single-result img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  object-fit: cover;
}

.single-result p {
  align-self: flex-start;
}

.view-more {
  justify-self: center;
  padding: 0.5rem 2rem;
  border: none;
  border-bottom: 1px solid green;
  background-color: white;
}

@media screen and (min-width: 900px) and (max-width: 1500px){
  .results {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 2fr));
  }

  .odd {
    border-left: 1px solid rgb(208, 207, 207);
  }

  .odd-length .last {
    border-right: 1px solid rgb(208, 207, 207);
  }

  .last {
    border-bottom: none;
  }

  .even-length .second-last {
    border-bottom: none;
  }
}

@media screen and (min-width: 1500px) {
  .results {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 2fr));
  }

  .single-result {
    border-left: 1px solid rgb(208, 207, 207);
  }
  
  .every-third {
    border-left: none;
  }

  .last {
    border-bottom: none;
    border-right: 1px solid rgb(208, 207, 207);
  }

  .flush-thirds .last {
    border-right: none;
  }

  .flush-thirds .third-last, .second-last {
    border-bottom: none
  }

  .single-remainder .second-last {
    border-bottom: 1px solid rgb(208, 207, 207);
  }
}