.app header {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  position: sticky;
  top: 0;
  background-color: rgb(105, 126, 102);
  z-index: 10;
}

#title {
  margin: 0px;
  font-size: 25px;
  font-weight: 400;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 100%;
}

.cartBtn {
  position: relative;
  padding: 0.25rem;
  display: block;
  width: 32px;
}

.cartCount {
  position: absolute;
  top: 0;
  right: 0;
  width: 1rem;
  min-width: fit-content;
  height: 1rem;
  border-radius: 9999px;
  background-color: #dc2626;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartCount p {
  padding: 0.25rem;
}

.searchForm {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 50px;
}

.searchForm input{
  border: none;
  border-radius: 50px;
  width: 200px
}

.searchBtn {
  background-color: rgb(255, 255, 179);
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex; 
  justify-content: center;
  align-items: center;
  border: none;
}

@media screen and (min-width: 450px) {
  #title {
  font-size: 35px;
  }
}