.app header {
  display: grid; 
  grid-template-columns: repeat(6, minmax(0, 1fr));
  padding: 0.5rem;
  position: sticky;
  top: 0;
  background-color: rgb(105, 126, 102);
  z-index: 10;
}

#title {
  margin: 0px;
  font-size: 25px;
  font-weight: 400;
  text-decoration: none;
  color: white;
  grid-column: span 5 / span 5;
}

nav {
  display: flex;
  justify-content: end;
  align-items: end;
  height: 100%;
}

.cart-btn {
  position: relative;
  padding: 0.25rem;
  display: block;
  width: 32px;
}

.cartCount {
  position: absolute;
  top: 0;
  right: 0;
  width: 1rem;
  min-width: fit-content;
  height: 1rem;
  border-radius: 9999px;
  background-color: #dc2626;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartCount p {
  padding: 0.25rem;
}

.search-form, .small-screen-search-form {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 50px;
}

.search-form input, .small-screen-search-form input{
  border: none;
  border-radius: 50px 0px 0px 50px;
  width: 200px;
}

.search-form input:focus, .small-screen-search-form input:focus {
  outline: none;
}

.search-form {
  display: none;
}

.small-screen-search-form {
  grid-column: span 6 / span 6;
}

.search-btn {
  background-color: rgb(160, 191, 157);
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex; 
  justify-content: center;
  align-items: center;
  border: none;
}

.search-btn:hover {
  background-color: rgb(136, 162, 133)
}

@media screen and (min-width: 450px) {
  #title {
  font-size: 35px;
  }
}

@media screen and (min-width: 600px) {
  .app header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    justify-content: space-between
  }

  .search-form {
    display: flex;
  }

  .small-screen-search-form {
    display: none;
  }
}