.app header {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  position: sticky;
  top: 0;
  background-color: rgb(105, 126, 102);
  z-index: 10;
}

#title {
  margin: 0px;
  font-size: 25px;
}

@media screen and (min-width: 450px) {
  #title {
  font-size: 35px;
  }
}