.cart-item {
  border-bottom: 1px solid rgb(202, 202, 202);
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  position: relative;

  img {
    width: 80px;
    height: 80px;
    object-fit: cover
  }

  p {
    margin: 0px;
  }
}

.item-btns {
  display: flex;
  justify-content: flex-end;
}

.item-btns > button,
.item-description p {
  margin: 1px 4px;
}

.item-description {
  display: flex;
}

.item-count {
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgb(135 189 130);
  color: white;
  font-weight: 600;
  font-size: 16px;
  min-width: 40px;
}

.item-count:hover {
  background-color: rgb(95, 158, 88)
}